/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************************************
                    Defaults (Mobile First)
**************************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html{
    font-family: 'Open sans', sans-serif;
}

body{
    width:760px;
    margin:0 auto;
}

a{ /*removed the underline from the links with text-decoration*/
    text-decoration:none;
}

p{
    padding-left:10px;
    padding-bottom:10px;
    line-height:1.5rem;
    margin-top:10px;
}

h1, h2, h3, h4{
    font-weight:bold;
}

h1{
    font-size:5.2rem;
    color:white;
    line-height: 7rem;
    padding-left:10px;
}

h2{
    font-size:3.6rem;
    padding-left:10px;
    margin-top:20px;
}

h3{
    font-size:2.5rem;
    margin-top:30px;
    margin-bottom:20px;
    padding-left:10px;
}

h4{
    padding-left:10px;
    border-bottom:3px solid #c78c06;
}

.image{
    width:760px;
}

a{
    color:white;
}

.button{ /*I did this to create the buttons containing links in each section that uses them*/
    background-color:#222;
    margin:10px;
    font-size:2rem;
    color:white;
    text-align:center;
    width:250px;
    padding-top:40px;
    padding-bottom:40px;
}


/**************************************************
                    List
**************************************************/
nav{
    background-color:#222;
}

.logo{
    height:100px;
    padding:10px;
}


li a{
    display:block;
    text-align:center;
    padding:2rem;
}

li a:hover{ /*so the list items can change color as seen in the mockup*/
    background-color:#c78c06;
    color:#222;
}

nav a{
    text-decoration:none;
    font-size:1.4rem;
    color:#c78c06;
}

#searchbar{
    display:block;
    width:100%;
    height:30px;
    font-size:1.1em;
}

#searchbutton{
    display:none; /*removed the button so it won't be seen but still usable*/
}


/**************************************************
                    Main Banner
**************************************************/

.overlaycontainer{
    position:relative;
}

.imageback{
    height:650px;
}

.overlay{
    color:white;
    position:absolute;
    top:70px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding-top:50px;
    height:450px;
}

.overlaycontainer:after{
    content: '';
    background-image: url("../images/main-banner.jpg"); /*put the image in this way rather than in the HTML*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; /*so the image does not repeat*/

    position:absolute;
    top:0;
    height:100%;
    left:50%;
    margin-left:-380px;

    width:100%;

    z-index: -1; /*to put the image behind other elements*/
}

#connect{
    background-color:#c78c06;
}

#withus{
    color:#222;
}

/**************************************************
                    Content
**************************************************/

.aboutus{
    background-color:#ffe6ac;
}

#about{
    width:720px;
    margin-left:20px;
    padding-top:20px;
}

.services{
    background-color:#ffe6ac;
}

.service{
    border-bottom:20px solid white;
}

.ourteam{
    background-color:#ffe6ac;
}

#doe, #rite{
    border-bottom:20px solid white;
}

#john, #bob{
    width:760px;
}

/**************************************************
                    Vision
**************************************************/

.overlayercontain{
    position:relative;
    /* an element with position relative will contain other elements with position absolute */
}

.vision{
    height:325px;
}

.overlayer{
    color:white;
    position:absolute;
    top:10px;
}

/* make a background image that stretches beyond the width of a centered site */
.overlayercontain:after{
    content: '';
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;

    /* use background position and background size to make sure the image always covers the div and doesn't repeat */
    background-position: center center;
    background-size: cover;

    position:absolute;
    top:0;
    height:100%;
    left: 50%;
    margin-left: -380px;

    width:100%;

    z-index: -1;
}

#learn{
    background: rgba(0,0,0,0.5);
    border:3px solid #c78c06
}


/**************************************************
                    Form
**************************************************/
.formbox{
    padding:2rem 1rem;
    font-size:1.2rem;
}

.texts label, .texts input, .texts textarea{
    display:block;
    width:100%;
    font-size:1.2rem; /* form elements do not inherit font-size, as they have a default set */
}

.texts label{
    margin-bottom:10px;
}

.texts input{
    margin-bottom:1.2rem;
}

.texts textarea{
    height:6em;
}

.radios{
    margin-bottom:1rem;
}

#submit{
    background-color:#222;
    color:#c78c06;
    font-size:1.3rem;
    margin:20px;
    padding:5px;
}

/**************************************************
                    Table
**************************************************/

table{
    width:100%;
}

table, tr, th, td{
    border:1px solid black;
}

th, td{
    padding: 1em 0;
}

th{
    background-color:#ffe6ac;
}

td{
    padding-left:1em;
}

th:first-child{
    width:60%;
}

/**************************************************
                    Footer
**************************************************/

footer{
    background-color:#222;
    color:#c78c06;
    height:100px;
    padding-top:10px;
    margin-top:20px;
}

/**************************************************
                    Desktop Styling
**************************************************/

@media screen and (min-width:760px){
    body{
        width:1200px;
    }

    h1{
        font-size:4.6rem;
        line-height: 6.1rem;
        padding-left:15px;
    }

    h2{
        font-size:3rem;
        padding-left:10px;
        margin-top:0px;
        padding-top:20px;
    }
    
    h3{
        font-size:2rem;
        margin-top:10px;
        margin-bottom:10px;
        padding-left:10px;
    }

    p{
        font-size:0.9rem;
        padding-left:15px;
        padding-bottom:5px;
        line-height:1.2rem;
        margin-top:20px;
    }

    .headline{
        padding-left:115px;
        padding-top:50px;
        padding-bottom:10px;
    }

    .button{
        margin:10px;
        font-size:1.5rem;
        width:95%; /*so it can be longer for the desktop*/
        height:20px;
        padding-top:30px;
    }

/**************************************************
                    List
**************************************************/

    nav{
        background-color:#222;
        display:flex; /*used this property to keep the list items in the nav*/
        height:150px;
    }    

    .logo{
        padding-top:25px;
        padding-left:100px;
    }
    
    nav li{
        display:inline-block; /*used this property to line up the list items horizontally*/
    }
    
    li a{
        display:block;
        text-align:center;
        padding-top:70px;
    }
    
    nav a{
        font-size:1.1rem;
        padding-left:40px;
    }

    #searchbar{
        display:block;
        width:200px;
        height:30px;
        font-size:0.9em;
        margin-top:60px;
    }

/**************************************************
                    Main Banner
**************************************************/
    .imageback{
        height:500px;
    }
    
    .overlay{
        top:40px;
        padding-top:50px;
        height:370px;
        width:1000px;
        margin-left:100px;
    }
    
    .overlaycontainer:after{
        background-size: cover; /*to keep the image the same size in the desktop version*/
        margin-left:-600px;
    }
    
    #connect{
        width:250px;
    }

/**************************************************
                    About
**************************************************/
    .aboutus{
        height:280px;
        padding-right:150px;
    }
    
    #about{
        float:left;
        padding-left:100px;
        margin-right:10px;
        width:475px;
    }

/**************************************************
                    Flex
**************************************************/
    .services{ /*used the services for my one element minimum of flex*/
        background-color:white;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }

    .service{
        background-color:#ffe6ac;
        width:317px;
        margin:8px;
        border-bottom:none;
    }

    #digital, #marketing{
        width:475px;
    }

    .image{
        width:100%;
    }

/**************************************************
                    Vision
**************************************************/
    .vision{
        height:250px;
    }
    
    .overlayer{
        top:40px;
        width:1000px;
        margin-left:100px;
    }    
    
    .overlayercontain:after{
        margin-left:-600px;
    }
    
    #learn{
        width:250px;
    }
   
/**************************************************
                    Grid
**************************************************/
    .ourteam{ /*used the team members for my one element minimum of grid*/
        background-color:white;
        display:grid;
        grid-template-columns:475px 475px;
        justify-content:center;
    }

    .member{
        background-color:#ffe6ac;
    }

    #john, #bob{
        width:475px; /*to keep the images the same size as the text sections*/
    }

    #doe, #rite{
        border-bottom:none;
    }

    #bob{
        grid-column:2;
        grid-row:2;
    }

/**************************************************
                    Grid 2
**************************************************/
    .george{ 
        width:950px;
        margin-left:125px;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr;
        justify-content:center;
    }

    .sendmessage{
        grid-column:1;
    }

    .table{
        grid-column:1 / 3;
        grid-row:2;
    }

    .map{
        width:475px;
        grid-column:2;
        grid-row:1;
    }
    
}